<div class="navbar navbar-fixed-top">
  <div class="navbar-left hidden-xs hidden-sm">
    <%= link_to "About this project", about_path, class: "navbar-item navbar-link" %>
    <%= link_to "Drums", drums_path, class: "navbar-item navbar-link" %>
  </div>
</div>
