<div class="clock-bgd">
  <div class="clock text-center">
    <%= image_tag("clock.jpg", width: 500, class:"clock-face") %>
    <%= image_tag("clock_hand.png", width: 250, class:"hour-hand") %>
    <%= image_tag("clock_hand.png", width: 350, class:"min-hand") %>
    <div class="second-hand"></div>
  </div>
</div>
