<div class="drums-bgd">
  <div class="drums-btn">
    <h2>A</h2>
    <p>Fusion</p>
  </div>
  <div class="drums-btn">
    <h2>Z</h2>
    <p>Jazz</p>
  </div>
  <div class="drums-btn">
    <h2>E</h2>
    <p>Triggers</p>
  </div>
  <div class="drums-btn">
    <h2>R</h2>
    <p>Bongo</p>
  </div>
  <div class="drums-btn">
    <h2>T</h2>
    <p>Djembe</p>
  </div>
</div>
