<div class="banner">
  <div class="banner-content">
    <h1>My Javascript Training Portfolio</h1>
    <p class="bold">
      <span id="banner-typed-text"></span>
    </p>
  </div>
  <div class="js-logo">
    <%= image_tag "logo.png" %>
  </div>
</div>
